@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.register{
    background-color: rgb(174, 112, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.login_inputField > input{


 margin-bottom: 10px;
    height:20px;
    border-radius: 5px ;
    background-color: rgb(255, 232, 206);
}

.login_inputField > select{
    margin-bottom: 10px;
       height:20px;
       border-radius: 5px ;
       background-color: rgb(241, 219, 241);
   }
   


button{
margin-left:5px;
    border-radius: 5px;
    background-color: rgb(188, 178, 233); 
    color:white;
    height:30px;
    width:60px;}


